html,body {
  font-family: arial;
  font-size: 1.1em;
  margin: auto;
  width: 800px;
}


h1 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 80px;
  max-width: 1000px;
  background-image: url(pics/background.jpeg);
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: .5em 0;
}

h3 {
  color: #38879B;
  font-size: .9em;
  font-weight: lighter;
  display: inline;
  padding-left: 10px;
  padding-right: 5px;
  margin-top: 10px;
  text-decoration: none;
}

input,textarea {
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

ul{
  padding-left: 25px;
  list-style-type: none;
}


.navigation a {
  outline: none;
  margin-top: 30px;
}

#videoplayer {
  text-align: center;
  position: relative;
  top: -100px;
}

.error {
  color: red;
  
}

